{% extends './base.html' %}
{% load static %}

{% block css %}
<link href="{% static 'autocine_pig/nosotros/css/main.css' %}" rel="stylesheet" />{% endblock %}
{% block titulo %} Acerca de Nosotros {% endblock %}

{% block contenido %}


<div class="v1_5"></div>
<div class="v8_18"></div>

<span class="v3_15">LOGOTIPO_AUTOCINE</span>
<div class="v8_16"></div>



<div class="container">
    <h1 class="text-center my-5">Acerca de nosotros</h1>
    <p class="lead mb-5">
        Bienvenidos al Autocine "Miradas Fugaces". Somos una empresa familiar que lleva más de 20 años brindando
        entretenimiento a la ciudad de Buenos Aires y sus alrededores. Nos apasiona el cine y creemos que la mejor forma de
        disfrutarlo es en compañía de tus seres queridos, en un ambiente seguro y cómodo.

        En nuestros inicios, comenzamos con una sola pantalla y unos pocos autos, pero con el tiempo hemos ido creciendo
        y mejorando nuestras instalaciones para ofrecer la mejor experiencia a nuestros clientes. Hoy en día, contamos
        con tres pantallas de última generación y capacidad para más de 300 autos por función.

        Nos preocupamos por ofrecer una cartelera variada y de calidad, que incluya desde los grandes éxitos de
        Hollywood, Argentinas y hasta películas independientes. Además, nos aseguramos de contar con los últimos estrenos y
        de brindar una experiencia de audio y video de alta calidad.

        Pero no solo nos enfocamos en el cine, también ofrecemos una amplia variedad de alimentos y bebidas para que
        disfrutes de tu película favorita sin preocuparte por nada más. Desde palomitas y hot dogs hasta pizzas y
        nachos, contamos con todo lo necesario para que pases una noche inolvidable en nuestro autocine.

        En Autocine "Miradas Fugaces" nos esforzamos por brindarte una experiencia única y memorable. Vení a
        visitarnos y disfruta de una noche de cine bajo las estrellas.
    </p>
    <h2 class="my-4">Nuestro equipo</h2>
    <div class="row">
        <div class="col-md-4 mb-4">
            <h5 class="card-title">Juan Pérez</h5>
            <p class="card-text">CEO</p>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <h5 class="card-title">Bruno Diaz</h5>
        <p class="card-text">CFO</p>
    </div>


    <div class="col-md-4 mb-4">
        <h5 class="card-title">Juana Manso</h5>
        <p class="card-text">CTO</p>
    </div>



    <h2 class="my-4">Nuestra misión</h2>
    <p class="lead mb-5">
        En nuestra empresa, estamos comprometidos con la innovación y la excelencia en todo lo que hacemos. Nuestra
        misión es lograr que nuestros clientes se sientan cómodos y seguros cuando deciden ir al cine, ofreciendo servicios y tecnologia de avanzadas y de vanguardia.
    </p>
    <h2 class="my-4">Nuestros valores</h2>
    <ul class="list-unstyled mb-5">
        <li><i class="fas fa-check"></i> Innovación</li>
        <li><i class="fas fa-check"></i> Excelencia</li>
        <li><i class="fas fa-check"></i> Honestidad</li>
        <li><i class="fas fa-check"></i> Integridad</li>
    </ul>
</div>






{% endblock %}