* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  width: 100%;
  margin: 0;
}

form {

  
  display: flex;
  flex-direction: column;
  align-items:baseline;
  font-family: Arial, sans-serif;
  padding: 20px;
  position: relative;
  background-color: rgb(27, 26, 26);
  
  
}



.area_texto {

  resize: none;
}



.v1_5 {
  width: 100%;
  height: 269px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v8_18 {
  width: 100%;
  height: 333px;
  background: url("../../index/img/v8_18.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 55px;
  left: 1px;
  overflow: hidden;
}

.v3_15 {
  width: 165px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 69px;
  left: 500px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}

.v8_16 {
  width: 656px;
  height: 282px;
  background: url("../../index/img/v8_16.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 60px;
  left: 392px;
  overflow: hidden;
}



label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: rgb(248, 248, 248);
}

input[type="text"], select, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
  font-size: 16px;
}

textarea.area_texto {
  height: 150px;
}

input[type="file"] {
  display: block;
  margin-top: 10px;
  color: #e4e4e4;
}


input[type="submit"] {
  background-color: #2b8a2e;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}



.errorlist {

  color: #db1414;
}

.mensajes {
  padding: 20px; 
}


.alert-success {
  background-color: #d4edda;
  border-color: #c3e6cb; 
  color: #155724; 
  padding: 15px; 
  border-radius: 4px; 
  margin-bottom: 20px; 
}
